footer {
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .logo {
    margin: 2rem;
  }

  .logo.bilda {
    img {
      width: 120px;
    }
  }

  .logo.hemslojden {
    img {
      width: 150px;
    }
  }

  .logo.slojdlyftet {
    img {
      width: 85px;
    }
  }

  .logo.halmenshus {
    img {
      width: 120px;
    }
  }

  .logo.vastarvet {
    img {
      width: 200px;
    }
  }

  .logo.kulturungdom {
    img {
      width: 150px;
    }
  }
}

@media #{$medium-up} {
  footer {
    padding: 60px 30px;
  }
}
