header {
  height: 550px;
  width: 100%;

  text-align: center;

  background: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center center;

  h1, h2 {
    color: #fff;
    line-height: 1;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
  }

  h1 {
    margin-top: 0;
    font-size: rem-calc(40);
  }
  h2 {
    font-weight: normal;
  }
}

@media #{$medium-up} {
  header {
    h1 {font-size: rem-calc(90);}
    h2 {font-size: rem-calc(28);}
  }
}